# Ignore virtual environments
ocr_env/
venv/

# Ignore environment files
.env
*.env

# Ignore raw data files
data/raw/*
data/processed/*

# Ignore other common Python files
__pycache__/
*.py[cod]
*.pyo
